<main data-ng-controller="category_controller as vm">
<h2>Categories</h2>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <br/>
  <tbody>
      <tr data-ng-repeat="categoryvm in vm.cat_data">
        <td class="larger">{{categoryvm.name}}</td>
        <td><button class="btn btn-success btn-sm" data-ui-sref="categoryShow({id: categoryvm.id})">Show</button></td>
        <td><button class="btn btn-danger btn-sm" data-ng-click="CategoryIndexViewModel.destroy(categoryvm)">Delete</button></td>
      </tr>
  </tbody>
</table>
<br/>
  <form data-ng-submit="CategoryIndexViewModel.create()">
    <input placeholder="New Category" data-ng-model="CategoryIndexViewModel.category.name" />
    <button class="btn btn-info btn-sm" type="submit">Create</button>
  </form>
</main>
