<strong>Update Category Information</strong>
<form>
  <input  placeholder="Title" data-ng-model="PostEditViewModel.post.title">
  <input  placeholder="Description" data-ng-model="PostEditViewModel.post.description">
  <input  placeholder="Email" data-ng-model="PostEditViewModel.post.email">
  <input  placeholder="Phone" data-ng-model="PostEditViewModel.post.phone">
  <input  placeholder="Street" data-ng-model="PostEditViewModel.post.street">
  <input  placeholder="City" data-ng-model="PostEditViewModel.post.city">
  <input  placeholder="State" data-ng-model="PostEditViewModel.post.state">
  <input  placeholder="Pictur URL" data-ng-model="PostEditViewModel.post.picture_url">
  <button type="button" data-ng-click="PostEditViewModel.update()">Update</button>
</form>
