
<h3>Create a New Post</h3>
<form>
  <input placeholder= "Title" data-ng-model="PostNewViewModel.new_post.title" />
  <input placeholder= "Description" data-ng-model="PostNewViewModel.new_post.description" />
  <input placeholder= "Email" data-ng-model="PostNewViewModel.new_post.email" />
  <input placeholder= "Phone" data-ng-model="PostNewViewModel.new_post.phone" />
  <input placeholder= "Street" data-ng-model="PostNewViewModel.new_post.street" />
  <input placeholder= "City" data-ng-model="PostNewViewModel.new_post.city" />
  <input placeholder= "State" data-ng-model="PostNewViewModel.new_post.state" />
  <input placeholder= "Picture_url" data-ng-model="PostNewViewModel.new_post.picture_url" />
  <button type = "button" data-ng-click="PostNewViewModel.create()">Create</button>
</form>
