<h4>Title</h4>
<strong>{{PostShowViewModel.post.title}}</strong>
<div>
  <p>

<p>
  <ul>
    <li>Description:  -{{PostShowViewModel.post.description}}</li>
    <li>Email:   -{{PostShowViewModel.post.email}}</li>
    <li>Phone:  -{{PostShowViewModel.post.phone}}</li>
    <li>Street:   -{{PostShowViewModel.post.street}}</li>
    <li>City:   -{{PostShowViewModel.post.city}}</li>
    <li>State:  -{{PostShowViewModel.post.state}}</li>
    <li>Picture url: -{{PostShowViewModel.post.picture_url}}</li>
</p>
<button data-ui-sref="postEdit({id: PostShowViewModel.post.id})">Edit</button>
