
<h2>Comments</h2>
<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <br>
  <tbody>
      <tr data-ng-repeat="commentvm in vm.com_data">
        <td>{{commentvm.message}}</td>
        <td><button class="btn btn-success btn-sm" data-ui-sref="commentShow({id: commentvm.id})">Show</button></td>
        <td><button data-ng-click="CommentIndexController.destroy(commentvm)">Delete</button></td>
      </tr>
  </tbody>
</table>
<br>
<form data-ng-submit="CommentIndexViewModel.create()">
  <input placeholder="New Comment" data-ng-model="CommentIndexViewModel.comment.message" />
  <button class="btn btn-info btn-sm" type="submit">Create</button>
</form>
