@import "bootstrap";


.full {
    background-image: url('Capital_Summer.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
